<div aria-hidden class="c-overlay c-overlay--dismissible"></div>
    <div role="dialog" class="o-modal o-modal--visible">
        <div class="c-card">
        <header class="c-card__header">
            <h2 class="c-heading">Leave a Comment!</h2>
        </header>

        <div class="c-card__body">
            <textarea
            class="c-field u-medium"
            placeholder="Write your comment here..."
            ></textarea>
        </div>

        <footer class="c-card__footer">
            <button type="button" class="c-button c-button--error u-large bt">
            Cancel
            </button>
            <button
            type="button"
            class="c-button c-button--warning u-large right"
            >
            Comment
            </button>
        </footer>
    </div>
</div>