{{!-- <div aria-hidden class="c-overlay c-overlay--dismissible"></div> --}}
    <div
      aria-label="drawer"
      aria-expanded
      class="o-drawer u-highest o-drawer--top o-drawer--visible"
    >
      <div class="c-card">
        <header class="c-card__header">
          <a href="/"><img alt="random placeholder image" src="./assests/logo.png"/></a>
          <h2 class="c-heading">
            {{#if loggedIn}}
            <a href="/logout">
              <button id='logout-button' type='button' class="c-button c-button--warning logout">Logout</button>
            </a>
            <a href="javascript:void(0);"><button id= 'create-post-button' type='button' class="c-button c-button--warning post">Post</button></a>
            {{else}}
            <a href="/login">
              <button id='logout-button' type='button' class="c-button c-button--warning login">Login</button>
            </a>
            {{/if}}
          </h2>
        </header>
        <footer class="c-card__footer">
          <ul class="c-list c-list--unstyled c-list--inline">
            <li class="c-list__item c-list__item--unstyled">
              <a href="/video-games">
              <button  class="c-button c-button--warning pd">
                Video Games <i class="fa-solid fa-gamepad"></i>
              </button>
              </a>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <a href="/movies-and-television">
              <button class="c-button c-button--warning pd">
                Movies and Television <i class="fa-solid fa-film"></i>
              </button>
              </a>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <a href="/food-and-travel">
              <button class="c-button c-button--warning pd">
                Food and Travel <i class="fa-solid fa-earth-americas"></i>
              </button>
              </a>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <a href="/lfg">
              <button class="c-button c-button--warning pd">
                LFG <i class="fa-solid fa-headset"></i>
              </button>
              </a>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <a href="/music">
              <button class="c-button c-button--warning pd">
                Music <i class="fa-solid fa-compact-disc"></i>
              </button>
              </a>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <a href="/technology">
              <button class="c-button c-button--warning pd">
                Technology <i class="fa-solid fa-gear"></i>
              </button>
              </a>
            </li>
          </ul>
        </footer>
      </div>
        {{> post-modal}}
    </div>
    {{!-- Post link --}}
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
      <script src="/js/create-post.js"></script>
    {{else}}
      <script src="/js/login.js"></script>
    {{/if}}
