<div aria-hidden class="c-overlay c-overlay--dismissible"></div>
    <aside
      aria-label="drawer"
      aria-expanded
      class="o-drawer u-highest o-drawer--top o-drawer--visible"
    >
      <div class="c-card">
        <header class="c-card__header">
          <img alt="random placeholder image" src="./assests/logo.png"/>
          <h2 class="c-heading">
            <a href="../views/login.handlebars">
              <button id = 'logout-button' type='button' class="c-button c-button--warning logout">Logout</button>
            </a>
            <button id= 'create-post-button' type='button' class="c-button c-button--warning post">Post</button>
          </h2>
        </header>
        <footer class="c-card__footer">
          <ul class="c-list c-list--unstyled c-list--inline">
            <li class="c-list__item c-list__item--unstyled">
              <button class="c-button c-button--warning pd">
                Video Games <i class="fa-solid fa-gamepad"></i>
              </button>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <button class="c-button c-button--warning pd">
                Movies and Television <i class="fa-solid fa-film"></i>
              </button>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <button class="c-button c-button--warning pd">
                Food and Travel <i class="fa-solid fa-earth-americas"></i>
              </button>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <button class="c-button c-button--warning pd">
                LFG <i class="fa-solid fa-headset"></i>
              </button>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <button class="c-button c-button--warning pd">
                Music <i class="fa-solid fa-compact-disc"></i>
              </button>
            </li>
            <li class="c-list__item c-list__item--unstyled">
              <button class="c-button c-button--warning pd">
                Technology <i class="fa-solid fa-gear"></i>
              </button>
            </li>
          </ul>
        </footer>
      </div>
    </aside>
    {{!-- Post link --}}
    <script src="./js/logout.js"></script>