<div class="o-grid o-grid--demo .u-highest">
    <div class="o-grid__cell o-grid__cell--width-20 o-grid__cell--offset-25 old">
        <form class="o-container o-container--small c-card u-high">
            <header class="c-card__header">
                <h2 class="c-heading">Login</h2>
            </header>

            <div class="c-card__body">
                <div class="o-form-element email">
                    <label class="c-label">
                        Email:
                        <input class="c-field c-field--label" type="email" placeholder="your@email.com" />
                        <div role="tooltip" class="c-hint">
                            The email used to register your account
                        </div>
                    </label>
                </div>
                <label class="o-form-element c-label password">
                    Password:
                    <input class="c-field c-field--label" type="password" />
                    <div class="o-form-element">
                        <label class="c-toggle c-toggle--success">
                            Remember me?
                            <input type="checkbox" checked />
                            <div class="c-toggle__track">
                                <div class="c-toggle__handle"></div>
                            </div>
                        </label>
                    </div>
                </label>
            </div>
            <footer class="c-card__footer">
                <a href="./homepage.html"><button type="button" class="c-button c-button--info c-button--block">
                        Login
                    </button>
                </a>
            </footer>
        </form>
    </div>

    <div class="o-grid__cell o-grid__cell--width-20 o-grid__cell--offset-5 new">
        <form class="o-container o-container--small c-card u-high">
            <header class="c-card__header">
                <h2 class="c-heading">Sign-up</h2>
            </header>
            <div class="c-card__body">
                <label class="o-form-element c-label">
                    Username:
                        <div class="o-form-element email">
                            <label class="c-label">
                                Email:
                                <input class="c-field c-field--label" type="email" placeholder="your@email.com" />
                                <div role="tooltip" class="c-hint">
                                    The email used to register your account
                                </div>
                            </label>
                        </div>
                        <label class="o-form-element c-label password">
                            Password:
                            <input class="c-field c-field--label" type="password" />
                            <label class="o-form-element c-label">
                                Confirm Password:
                                <input class="c-field c-field--label" type="password" />
                            </label>
            </div>
            <footer class="c-card__footer">
                <a href="./homepage.html">
                    <button type="button" class="c-button c-button--info c-button--block">
                        Sign-up
                    </button>
                </a>
            </footer>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>