<div class="o-grid o-grid--demo .u-highest">
    <div class="o-grid__cell o-grid__cell--width-20 o-grid__cell--offset-25 old">
        <form class="o-container o-container--small c-card u-high">
            <header class="c-card__header">
                <h2 class="c-heading">Login</h2>
            </header>

            <div class="c-card__body">
                <div class="o-form-element email">
                    <label class="c-label">
                        Email:
                        <input id="login-email" class="c-field c-field--label" type="email" name="email" placeholder="your@email.com" />
                        <div role="tooltip" class="c-hint">
                            The email used to register your account
                        </div>
                    </label>
                </div>
                <label class="o-form-element c-label password">
                    Password:
                    <input id="login-password" class="c-field c-field--label" type="password" name="password" />
                    <div class="o-form-element">
                    </div>
                </label>
            </div>
            <footer class="c-card__footer">
                <button id="login-button" type="button" class="c-button c-button--info c-button--block Login">
                        Login
                    </button>
                </a>
            </footer>
        </form>
    </div>

    <div class="o-grid__cell o-grid__cell--width-20 o-grid__cell--offset-5 new">
        <form class="o-container o-container--small c-card u-high">
            <header class="c-card__header">
                <h2 class="c-heading">Sign-up</h2>
            </header>
            <div class="c-card__body">
                <label class="o-form-element c-label">
                    Username:
                    <input id="signup-username" class="c-field c-field--label" type="name" name="name" placeholder="username" />
                        <div class="o-form-element email">
                            <label class="c-label">
                                Email:
                                <input id="signup-email" class="c-field c-field--label" type="email" name="email" placeholder="your@email.com" />
                            </label>
                        </div>
                        <label class="o-form-element c-label password">
                            Password:
                            <input id="signup-password" class="c-field c-field--label" type="password" name="password" />
                            <label class="o-form-element c-label">
                                Confirm Password:
                                <input id="signup-password" class="c-field c-field--label" type="password" name="password" />
                            </label>
            </div>
            <footer class="c-card__footer">
                    <button id="signup-button" type="button" class="c-button c-button--info c-button--block">
                        Sign-up
                    </button>
                </a>
            </footer>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>